.userAddressContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.userAddressBoxContainer {
    display: flex;
    align-items: baseline;
    min-width: 47%;
    padding: 3px;
}

.title {
    padding-left: 5px;
}